mixin sectionProgramacao()
	.row
		.title-section
			h2="Programação"
		ul.timeline
			li
				.box-talk
					time.talk-time="08:00 - 8:40"
					h4.sub-title="Credenciamento"
					p="Não esqueça de trazer seu RG para a identificação e entrega de brindes."
			li
				.box-talk
					time.talk-time="08:40 - 9:20"
					h4.sub-title="Coffee Break"
					p="Antes do evento começar, aproveite para tomar um café, fazer novas amizades e rever os amigos."
			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do Ciro Nunes', src='https://avatars2.githubusercontent.com/u/469908?v=3&s=400')
					|     
					h3.sub-title Ciro Nunes - apresentador
					|     
					p
						| Senior Front-end Engineer at 
						a(href='http://www.questrade.com', target='_blank') Questrade
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='https://twitter.com/cironunesdev', target='_blank')
							span(data-title='@cironunesdev') @cironunesdev
				.box-talk
					time.talk-time="9:20 - 9:30"
					h4.sub-title="Abertura e apresentações com Pedro Polisenso e André Vitor"
					p="Nosso amigo Ciro Nunes vai conduzir o evento até o final, apresentando cada palestrante, batendo um papo com eles e o resto você acompanha de perto."
			
			
			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do Willian Justen', src='assets/image/will.jpg')
					|     
					h3.sub-title Willian Justen (Biber)
					|     
					p
						| Desenvolvedor Front-end at 
						a(href='http://www.globo.com', target='_blank') Globo.com
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='https://twitter.com/Willian_justen', target='_blank')
							span(data-title='@Willian_justen') @Willian_justen
				.box-talk
					time.talk-time="9:30 - 10:10"
					h4.sub-title="Criando Novas Experiências com SVG"
					p="Nessa palestra eu irei mostrar como o SVG pode melhorar e modificar as experiências do usuário em um projeto e como você já pode sair da palestra utilizando."
		

			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do Diego Ramos', src='assets/image/diegoramos.jpg')
					|     
					h3.sub-title Diego Ramos
					|     
					p
						| Sênior Develoepr at 
						a(href='http://www.bematech.com.br/', target='_blank') Bematech
					|     
							
				.box-talk
					time.talk-time="10:10 - 10:50"
					h4.sub-title="Em definição"
					p=""

			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do Raphael Amorim', src='assets/image/raphael.jpeg')
					|     
					h3.sub-title Raphael Amorim
					|     
					p
						| JavaScript Evangelist						
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='https://twitter.com/raphamundi', target='_blank')
							span(data-title='@raphamundi') @raphamundi
				.box-talk
					time.talk-time="10:50 - 11:30"
					h4.sub-title="Como ser um Desenvolvedor transante?"
					p="De maneira divertida e informativa irá abordar o desenvolvimento voltado para o open source. Como começar a contribuir? Qual a semântica ideal? Qual o peso da refatoração, linting, code review e testes? Com essa palestra mais força de vontade e dedicação você consegue liberar o dev star que existe dentro de você."


			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do Leo Balter', src='assets/image/leobalter.jpg')
					|     
					h3.sub-title Leo Balter
					|     
					p
						| Open Web Enginner at 
						a(href='http://bocoup.com/', target='_blank') Bocoup
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='https://twitter.com/leobalter', target='_blank')
							span(data-title='@leobalter') @leobalter		
				.box-talk
					time.talk-time="11:30 - 12:10"
					h4.sub-title="Em definição"
					p=""		

			li
				.box-talk
					time.talk-time="12:10 - 13:50"
					h4.sub-title="Pausa para o Almoço"


			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do Jaydson Gomes', src='assets/image/jaydson.jpg')
					|     
					h3.sub-title Jaydson Gomes
					|     
					p
						| Sênior Front-end Enginner at 
						a(href='http://www.terra.com.br/', target='_blank') Portal Terra
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='https://twitter.com/jaydson', target='_blank')
							span(data-title='@jaydson') @jaydson
				.box-talk
					time.talk-time="14:00 - 14:40"
					h4.sub-title="Em definição"
					p=""		

			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do Pedro Nauck', src='assets/image/pedro-nauck.jpg')
					|     
					h3.sub-title Pedro Nauck
					|     
					p
						| Front-end Enginner 
						a(href='#', target='_blank')
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='https://twitter.com/pedronauck', target='_blank')
							span(data-title='@pedronauck') @pedronauck
				.box-talk
					time.talk-time="14:40 - 15:20"
					h4.sub-title="ReactJS: Keep simple. Everything is a component!"
					p="Um dos maiores problemas ao desenvolver uma aplicação é como manter uma arquitetura que escale e ao mesmo tempo seja simples de dar manutenção. O ReactJS nasceu com um conceito muito forte para resolver isso: Manter a simplicidade. Faremos uma breve introdução à library e veremos como lidar com a criação de components para criar uma aplicação escalável e com alta performance."

			li
				.box-talk
					time.talk-time="15:20 - 16:00"
					h4.sub-title="Pausa para o Coffee Break"

			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do palestrante', src='assets/image/default.jpg')
					|     
					h3.sub-title Em definição
					|     
					p
						| --- 
						a(href='#', target='_blank') ---
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='#', target='_blank')
							span(data-title='') @--
				.box-talk
					time.talk-time="16:00 - 16:40"
					h4.sub-title="Em definição"
					p=""

			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do palestrante', src='assets/image/default.jpg')
					|     
					h3.sub-title Em definição
					|     
					p
						| --- 
						a(href='#', target='_blank') ---
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='#', target='_blank')
							span(data-title='') @--
				.box-talk
					time.talk-time="16:40 - 17:20"
					h4.sub-title="Em definição"
					p=""

			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do palestrante', src='assets/image/default.jpg')
					|     
					h3.sub-title Em definição
					|     
					p
						| --- 
						a(href='#', target='_blank') ---
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='#', target='_blank')
							span(data-title='') @--
				.box-talk
					time.talk-time="17:20 - 18:00"
					h4.sub-title="Em definição"
					p=""

			li
				.box-talk
					time.talk-time="18:00 - 18:30"
					h4.sub-title="Encerramento e Sorteios"











