mixin sectionAbout()
	svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='2560px', height='150px', viewbox='0 0 2560 150', enable-background='new 0 0 2560 150', xml:space='preserve')
		path(fill='#FFFFFF', d='M2497,0.3l-256,56l-198-40l-220,40l-44-36l-236,22L1425,0.2L1359,56h-156l-50-27.8l-122,42.2l-204-48\
	  l-240,46l-107-58l-133,102L117,0.4L0,88.4V150h2560V34.4')
	.row
		.title-section
			h2="O Evento"
		.content-section
			h3="História"
			p
				font="O Front-End Carioca é uma conferência de um dia para desenvolvedores web e mobile, com foco em apresentar as últimas tendências, tecnologias e idéias em desenvolvimento front-end."
				font="No ano de 2014 na Universidade Veiga de Almeida, realizamos nossa primeira edição, com aproximadamente 250 participantes."
			h3="Para quem?"
			p
				font="Front-End Carioca é uma conferência organizada de forma independente feito para a comunidade de desenvolvedores web e mobile, e os próprios designers."
				font="Participam novos e veterano desenvolvedores web e mobile, interection Desiners, Ux Designers, empresários de tecnologia, e muito mais."
				font="O evento muitas vezes deixa uma marca positiva na carreira profissional dos participantes, eles sempre aprendem algo novo e valioso."
				font="O evento também é uma excelente oportunidade para muitas empresas inovadoras e as organizações de TI para mostrar suas tecnologias e serviços, ou recrutar desenvolvedores para suas equipes."