mixin sectionPatrocinio()
	.row
		.content-patrocinio
			.title-section
				h2="Patrocínio"

			.small-12.medium-4.large-4.columns.patrocinio-column
				h3="Patrocinio Premium"
				a(href="http://lab.vtex.com/careers", target="_blank", title="Empresa patrocinadora")
					img(src="assets/image/empresas/patrocinio/vtex.png" alt="Vtex")
			.small-12.medium-4.large-4.columns.patrocinio-column
				h3="Patrocinio Ouro"
				img(src="http://dummyimage.com/150x150/ececec/000000.jpg&text=Sua+Empresa+Aqui" alt="")
			.small-12.medium-4.large-4.columns.patrocinio-column
				h3="Patrocinio Prata"
				img(src="http://dummyimage.com/150x150/ececec/000000.jpg&text=Sua+Empresa+Aqui" alt="")
		
		.content-parceiras
			.title-section
				h2="Empresas Parceiras"

			.small-12.medium-3.large-3.columns.patrocinio-column
				h3="DESIGN"
				a(href="http://www.aotopo.com.br/", target="_blank", title="Empresa parceira")
					img(src="assets/image/empresas/parcerias/aotopo.png", alt="Aotopo - Agência Digital")
			.small-12.medium-3.large-3.columns.patrocinio-column
				h3="SOCIAL MIDIA"
				img(src="http://dummyimage.com/150x150/ececec/000000.jpg&text=Sua+Empresa+Aqui" alt="")
			.small-12.medium-3.large-3.columns.patrocinio-column
				h3="VIDEO"
				img(src="http://dummyimage.com/150x150/ececec/000000.jpg&text=Sua+Empresa+Aqui" alt="")
			.small-12.medium-3.large-3.columns.patrocinio-column
				h3="Inscrição"
				a(href="https://www.eventick.com.br/", target="_blank", title="Empresa parceira")
					img(src="assets/image/empresas/parcerias/eventick.jpg" alt="Eventick")

		.content-parceiras
			.title-section
				h2="Apoio & Parceiros"

			.small-12.medium-3.large-3.columns.patrocinio-column
				a(href="http://novatec.com.br/", target="_blank", title="Empresa de apoio")
					img(src="assets/image/empresas/parcerias/novatec.jpg" alt="Novatec")
			.small-12.medium-3.large-3.columns.patrocinio-column
				a(href="https://www.treinaweb.com.br/", target="_blank", title="Empresa de apoio")
					img(src="assets/image/empresas/parcerias/treinaweb.jpg" alt="Treinaweb")
			.small-12.medium-3.large-3.columns.patrocinio-column
				a(href="http://braziljs.org/", target="_blank", title="Empresa de apoio")
					img(src="assets/image/empresas/parcerias/braziljs.jpg" alt="Brazil JS")
			.small-12.medium-3.large-3.columns.patrocinio-column.end
				a(href="http://riojs.org/", target="_blank", title="Empresa de apoio")
					img(src="assets/image/empresas/parcerias/riojs.jpg" alt="Rio JS")		
		
		.content-parceiras
			.title-section
				h2="Convidados"

			.small-12.medium-4.large-3.large-centered.medium-centered.columns.patrocinio-column
				img(src="assets/image/maujor.jpg" alt="")
				p="Maujor - Dinossauro do CSS"

		.content-parceiras
			.title-section
				h2="Organizadores"

			.small-12.medium-6.large-6.large-centered.medium-centered.columns.patrocinio-column
				.small-12.medium-6.large-6.columns
					h3="André Valle"
					a(href="https://github.com/andrevvalle", target="_blank")
						img(src="assets/image/andrevalle.jpeg" alt="André Valle")
					p="Front-End Engineer"
				.small-12.medium-6.large-6.columns
					h3="Pedro Polisenso"
					a(href="https://github.com/pedropolisenso", target="_blank")
						img(src="assets/image/pedropolisenso.jpeg" alt="Pedro Polisenso")
					p="Senior Front-End Developer"
		