mixin sectionProgramacao()
	.row
		.title-section
			h2="Programação"
		ul.timeline
			li
				.box-talk
					time.talk-time="8:30 - 9:30"
					h4.sub-title="Credenciamento"
					p="Não esqueça de trazer seu RG."
			li
				.box-talk
					time.talk-time="9:00 - 9:30"
					h4.sub-title="Coffee Break"
					p="Antes do evento começar, aproveite para tomar um café e atualizar o seu networking."

			li
				.box-speaker
					.box-speaker-media
						img(alt='Foto do Ciro Nunes', src='https://avatars2.githubusercontent.com/u/469908?v=3&s=400')
					|     
					h3.sub-title Ciro Nunes
					|     
					p
						| Senior Front-end Engineer at 
						a(href='http://www.questrade.com', target='_blank') Questrade
					|     
					p
						i.icon-social-twitter
						|       
						a.hover.hover-3d.speaker-link(href='https://twitter.com/cironunesdev', target='_blank')
							span(data-title='@cironunesdev') @cironunesdev
				.box-talk
					time.talk-time="9:00 - 9:30"
					h4.sub-title="Abertura"
					p="Um pouco do que vai rolar."