mixin sectionAbout()
	svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='2560px', height='150px', viewbox='0 0 2560 150', enable-background='new 0 0 2560 150', xml:space='preserve')
		path(fill='#FFFFFF', d='M2497,0.3l-256,56l-198-40l-220,40l-44-36l-236,22L1425,0.2L1359,56h-156l-50-27.8l-122,42.2l-204-48\
	  l-240,46l-107-58l-133,102L117,0.4L0,88.4V150h2560V34.4')
	.row
		.title-section
			h2="Sobre"
		.content-section
			h3="História"
			p
				font="O Front-end Carioca surgiu de uma ideia dentro da comunidade, tendo como objetivo enriquecer o conhecimento profissional através de ciclos de palestras, workshop, networking e é claro, bastante insentivo. "
				font="Em 2014, na Universidade Veiga de Almeida, realizamos nossa primeira edição e com certeza foi um sucesso, fizemos de tudo para apresentar um ótimo conteúdo aos participantes. "
				font=" Já em 2015 estamos vindo com força total e bastante conteúdo legal, propostas de estágios, empregos, parcerias, sorteios de cursos e de livros. Além da principal parte do evento: networking, onde os participantes trocam ideias/experiências e a comunidade cresce."
			h3="Quem vai ao evento?"
			p
				font="Bom. No evento vai todo tipo de pessoa, não há restrições, só queremos compartilhar conhecimentos e mostrar melhores formas de crescer e se dar bem nesta área. "
				font="Geralmente o evento é frequentado por pessoas de todo o Brasil, entre eles profissionais com muitas experiências de mercado, por outro lado, uma galera iniciante querendo aprender mais. "
				font="Acho que para falar a verdade só tá faltando você conosco. Não importa se você é de outra cidade, você será bem vindo. Faça uma força e visite a maior conferência de Desenvolvedores web do Rio de Janeiro. "
				font="Sua experiência profissional nunca mais será a mesma."